<h3 class="get-in-touch">Get in touch...</h3>
<p><a href="mailto:<%- config.CONTACT_EMAIL %>" title="Email me">hello@uandi-digital.com</a></p>
<div class="social-icons-container">
    <a href="<%- config.TWITTER %>" class="icon-twitter-bird"></a>
    <a href="<%- config.FACEBOOK %>" class="icon-facebook-1"></a>
    <a href="<%- config.LINKEDIN %>" class="icon-linkedin"></a>
    <a href="<%- config.GITHUB %>" class="icon-github"></a>
</div>
