<%- include('../includes/header') %>
    <%- include('../includes/top') %>
        <article class="container clearfix">
            <%- include('../includes/arrows') %>
                <h1>Oops!</h1>
                <h2>Page not found!</h2>
                <p>The page you're looking for cannot be found - please <a href="/">click here</a> to return to the homepage.</p>
                <h3>Get in touch...</h3>
                <%- include('../includes/get-in-touch') %>
        </article>
        <%- include('../includes/footer') %>
            <%- include('../includes/bottom') %>
