<%- include('../includes/header') %>
    <%- include('../includes/top') %>
        <article class="container clearfix">
            <%- include('../includes/arrows') %>
                <h1>Contact</h1>
                <section>
                    <h2>Andy Meek - Digital Developer &amp; Consultant</h2>
                    <p>I am based in Sydney, Australia and I’m available for freelance UI and back-end development nationwide. </p>
                    <p>Please feel free to get in touch below…</p>
                    <%- include('../includes/get-in-touch') %>
                </section>
        </article>
        <%- include('../includes/footer') %>
            <%- include('../includes/bottom') %>
