<%- include('../includes/header') %>
    <%- include('../includes/top') %>
        <article class="container clearfix">
            <%- include('../includes/arrows') %>
                <h1>Andy Meek</h1>
                <h2>Digital Developer &amp; Consultant</h2>
                <p>Hi, I’m Andy, a Digital Developer &amp; Consultant based in Sydney, Australia.</p>
                <p>I’ve been producing websites &amp; web applications for the best part of a decade; working in many sectors
                    including publishing, media, fashion and finance – developing in a variety of front-end &amp; back-end
                    technologies.
                </p>
                <p>Over the last few years, I've been specifically focusing on developing beautiful, robust user interfaces
                    &amp; cross-platform experiences for mobile, tablet, desktop and TV.</p>
                <%- include('../includes/get-in-touch') %>
        </article>
        <%- include('../includes/footer') %>
            <%- include('../includes/bottom') %>