<%- include('../includes/header') %>
<%- include('../includes/top') %>
<article class="container clearfix">
    <h1><%- config.COMPANY_NAME %></h1>
    <h2>A Software Development &amp; Consultancy Services Company.</h2>
    <h3>What we do...</h3>
    <p>At Dynameek, we like to get things 'done'.&nbsp; We don’t aim for perfection, we take a artisan's approach to
        continually improving results for you and delivering better technology outcomes for your business.</p>
    <ul class="what-we-do">
        <li>Application & API Development</li>
        <li>Mobile Development</li>
        <li>UX</li>
        <li>Cloud Migration</li>
    </ul>

    <h3>Who we've worked with...</h3>
    <div class="builds-container">
        <ul>
            <% recentBuilds.forEach(function(rb) { %>
            <li><%- rb.name %></li>
            <% }) %>
        </ul>
    </div>
    <div class="email">
        <p><a href="mailto:<%- config.CONTACT_EMAIL -%>"><%- config.CONTACT_EMAIL -%></a></p>
    </div>
</article>
<%- include('../includes/footer') %>
<%- include('../includes/bottom') %>
