<%- include('../includes/header') %>
    <%- include('../includes/top') %>
        <article class="container clearfix">
            <%- include('../includes/arrows') %>
                <h1>Recent builds</h1>
                <section>
                    <p>Below is a websites I have built...</p>
                    <div id="builds-container">
                        <%- reactOutput %>
                    </div>
                    <%- include('../includes/get-in-touch') %>
                </section>
        </article>
        <%- include('../includes/footer') %>
            <%- include('../includes/bottom') %>
