<%- include('../includes/header') %>
    <%- include('../includes/top') %>
        <article class="container clearfix">
            <%- include('../includes/arrows') %>
                <h1>Services</h1>
                <section>
                    <h2>UI/Front-End development</h2>
                    <p>I have been developing on the web for over a decade specialising in HTML &amp; CSS development, (now HTML5/CSS3), JavaScript, jQuery, Ajax, Accessibility and Usability. I generate solutions to all the latest web standards with wonderfully semantic markup all the way down. Here you’ll find lots of information about the services on offer and some recent work.</p>
                    <p>I have plenty of experience developing web sites and web applications for mobile devices and taking advantage of HTML5/CSS3/JavaScript to create exciting experiences on the iPad and iPhone as well as the desktop.</p>
                    <p>I'll work with directly with you to design/prototype your site or application, work great as part of or leading teams in contract/freelance roles, for agencies and the like nationwide. Available to work remote or on site, whichever suits depending on the project, timescales and geography.</p>
                    <p>If you would like to chat about how best to approach a project or to arrange a booking just click below to get in touch.</p>
                    <%- include('../includes/get-in-touch') %>
                </section>
                <aside>
                    <section class="technologies">
                        <h3>Technologies</h3>
                        <ol>
                            <li>HTML / HTML5</li>
                            <li>CSS / CSS3 / SASS</li>
                            <li>JavaScript</li>
                            <li>Source control:
                                <ol>
                                    <li>Git</li>
                                    <li>SVN</li>
                                    <li>TFS</li>
                                </ol>
                            </li>
                            <li>Backend:
                                <ol>
                                    <li>PHP</li>
                                    <li>Java</li>
                                    <li>.Net (C# MVC)</li>
                                </ol>
                            </li>
                            <li>Databases:
                                <ol>
                                    <li>MySQL</li>
                                    <li>SQL Server</li>
                                </ol>
                            </li>
                        </ol>
                    </section>
                    <section class="methodologies">
                        <h3>Methodologies</h3>
                        <ol>
                            <li>Agile, Scrum</li>
                        </ol>
                    </section>
                    <section class="popular-services">
                        <h3>Popular Services</h3>
                        <ol>
                            <li>Responsive Web Development</li>
                            <li>Mobile Websites</li>
                            <li>Microsite Development</li>
                            <li>Social Media Integration</li>
                            <li>Digital Marketing Campaign Support</li>
                            <li>JavaScript Tools &amp; Applications</li>
                            <li>Webpages/templates developed from designs (PSDs)</li>
                            <li>iPad/iPhone/Android web apps</li>
                            <li>CMS</li>
                            <li>Blogs - Wordpress</li>
                        </ol>
                    </section>
                </aside>
        </article>
        <%- include('../includes/footer') %>
            <%- include('../includes/bottom') %>
