<%- include('../includes/header') %>
<%- include('../includes/top') %>
<article class="container clearfix">
    <%- include('../includes/arrows') %>
    <h1>Services</h1>
    <section>
        <h2>Full-stack web development</h2>
        <p>I have been developing on the web for over a decade, specialising in full-stack web development, accessibility &amp; usability. I generate solutions to all the latest web standards with semantic markup with concentrations on performance. Here you’ll find lots of information about the services on offer and some <a href="/recent-builds">recent work</a>.</p>
        <p>I have plenty of experience developing web sites and web applications - taking advantage of HTML/CSS/JavaScript to create exciting experiences on mobile, tablets &amp; large touch screen displays.</p>
        <p>I'll work directly with you to design &amp; prototype your application, working with, part of, or leading teams in contract roles, for agencies and the like nationwide. Available to work remote or on site, whichever suits depending on the project, timescales and geography.</p>
        <p>If you would like to chat about how best to approach a project or to arrange a booking just click below to <a href="/contact">get in touch</a>.</p>
        <%- include('../includes/get-in-touch') %>
    </section>
    <aside>
        <section class="technologies">
            <h3>Technologies</h3>
            <ol>
                <li>HTML</li>
                <li>CSS - SASS/LESS</li>
                <li>JavaScript - &amp; all the many frameworks</li>
                <li>Source control:
                    <ol>
                        <li>Git</li>
                        <li>SVN</li>
                        <li>TFS</li>
                    </ol>
                </li>
                <li>Backend:
                    <ol>
                        <li>NodeJS</li>
                        <li>PHP</li>
                    </ol>
                </li>
                <li>Databases:
                    <ol>
                        <li>MySQL</li>
                        <li>SQL Server</li>
                        <li>NoSQL</li>
                    </ol>
                </li>
            </ol>
        </section>
        <section class="methodologies">
            <h3>Methodologies</h3>
            <ol>
                <li>Agile, Scrum</li>
            </ol>
        </section>
        <section class="popular-services">
            <h3>Popular Services</h3>
            <ol>
                <li>Responsive Web Development</li>
                <li>Mobile Websites</li>
                <li>Microsite Development</li>
                <li>Social Media Integration</li>
                <li>Digital Marketing Campaign Support</li>
                <li>JavaScript Tools &amp; Applications</li>
                <li>Webpages/templates developed from designs (PSDs)</li>
                <li>iPad/iPhone/Android web apps</li>
                <li>CMS</li>
                <li>Blogs - Wordpress</li>
            </ol>
        </section>
    </aside>
</article>
<%- include('../includes/footer') %>
<%- include('../includes/bottom') %>
